/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%; /* Ensures minimum height of the viewport */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Makes the main axis vertical */
    font-family: 'Roboto', sans-serif
}

/*  using this as background*/
.general{
    background-color: #fff0db !important;
}

.footer-colors {
    color: #373737;
    background: #a8a8a8;
    font-family: 'Roboto', sans-serif; /* Roboto font for consistency */
}

.navbar {
    padding: 0; /* Removes any default padding */
    background: #373737;
    font-family: 'Roboto', sans-serif; /* Roboto font for consistency */
}

.navbar-brand {
    background-size: 10px 10px; /* Adjust size of the diagonal lines */
    padding: 8px 15px; /* Adjust padding to fill navbar vertically */
    display: flex; /* Ensures the brand fills the height */
    align-items: center; /* Centers the text vertically */
    height: 100%; /* Fill the height of the navbar */
    color: #a8a8a8 !important; /* Bootstrap's white color */
    margin-right: 1.5em; /* Give some space next to the brand */
    font-size: 1.5rem; /* Larger size for brand name */
    font-weight: bold; /* Bold font for emphasis */
    border-radius: 2px; /* subtle rounding of corners */
    padding-left: 1.5em;
    background: linear-gradient(135deg, #006417 0%, #373737 90%);
    padding-right: 1.5em;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: white !important;
    border-radius: 5px; /* Rounded corners for a modern look */
}

.nav-link {
    font-size: 1.1rem; /* Larger size for brand name */
    color: #a8a8a8;
    font-weight: bold; /* Bold font for emphasis */
    margin-right: 1.5em; /* Space between nav items */
}
.nav-link:hover,
.nav-link:focus {
    color: white !important;
    border-radius: 5px; /* Rounded corners for a modern look */
}

.container {
    background-color: #fff0db; /* Light beige background for the content area */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 5px;
    margin-top: 5px;
}
h1, h2 {
    color: #373737; /* Dark gray for better visibility and contrast */
    margin: 0px;
    font-size: 2rem; /* Slightly smaller than h1 */
}
h1 a, h2 a {
    color: inherit; /* Inherits the color from the parent h1 or h2 */
    text-decoration: none; /* Removes underline from links */
    font-weight: inherit; /* Inherits font weight from parent */
    display: inline; /* Keeps link inline */
}
h1 a:hover, h2 a:hover {
    color: inherit; /* Inherits the color from the parent h1 or h2 */
    text-decoration: underline; /* Adds underline on hover for better user interaction */
}
p {
    color: #a8a8a8; /* Lighter text color for paragraphs */
    line-height: 1.6; /* Improved line spacing for readability */
    margin-bottom: 0px;
}

.sub-container {
    background-color: #fff0db; /* Light beige background for the content area */
    padding: 20px;
    border-radius: 20px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 40px;
}

.thin-container {
    max-width: 600px;
    padding-bottom: 60px;  /* Adds padding inside the container */
}

.header-container {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Aligns items vertically in the center */
    text-align: center;
}
.header-container h1,
.header-container h2 {
    margin: 0 6px; /* Adds horizontal spacing and removes default vertical margin */
    font-size: 2rem; /* Slightly smaller than h1 */
    white-space: nowrap; /* Prevents breaking into a new line */
}

.btn-primary {
    color: #a8a8a8;
    background-color: #006417; /* Custom green color to match the brand theme */
    border: none; /* No border for a cleaner look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #006417 !important; /* Custom green color to match the brand theme */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
.btn-primary:disabled {
    background-color: #a8a8a8; /* Dark grey color */
    color: white;
    cursor: not-allowed; /* Show a not-allowed cursor to indicate it's disabled */
}

.btn-back {
    color: #a8a8a8;
    background-color: #640000; /* Dark red background */
    border: none; /* No border for a cleaner look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
.btn-back:hover,
.btn-back:focus {
    background-color: #640000 !important; /* Ensures background color stays consistent on hover and focus */
    color: white; /* Changes text color to white for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

.image-container {
    height: 70%; /* Set a fixed height or as needed */
    width: 100%; /* Ensures the container takes full width of the column */
    overflow: hidden; /* Hides parts of the image that overflow the container */
}

.img-fluid {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Covers the area, may crop the image */
}

.soccer-border {
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}

.h5 {
    color: #373737; /* Grey color, consider using a rich shade that stands out */
    letter-spacing: 0.01em; /* Adding some spacing between letters for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.accent-text {
    color: #006417; /* Green color, consider using a rich shade that stands out */
    font-weight: bold; /* Corrected property for bolding text */
    letter-spacing: 0.01em; /* Adding some spacing between letters for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.bold-text {
    font-weight: bold; /* Corrected property for bolding text */
    letter-spacing: 0.01em; /* Adding some spacing between letters for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.nav-tabs .nav-link {
    background-color: #373737;
    color: #a8a8a8;
    border-color: #373737;
}

.nav-tabs .nav-link.active {
    background-color: #a8a8a8;
    color: #373737;
    border-color: #a8a8a8;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    color: white !important;
    border: 0px;
}

.tab-content {
    border: 2px solid #a8a8a8;
    padding: 10px;
    margin-top: 0px;
}

.form-check.correct-answer .form-check-label {
    color: #006417;
}

.form-check.incorrect-answer .form-check-label {
    color: red;
}

.feedback {
    font-size: 1.2rem;
    color: #006417;
    margin-top: 20px;
}

.feedback.incorrect {
    color: red;
}
.quiz-image {
    width: 300px;
    height: auto;
    display: block;
    margin-left: 0;
}

.drag-and-drop {
    display: flex;
    justify-content: space-between;
}

.statements {
    flex: 1;
    margin-right: 20px;
}

.statement {
    padding: 15px;
    padding-bottom: 0px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border: 1px solid #373737;
}

.terms {
    flex: 1;
}

.word-bank {
    border: 1px solid #373737; /* Adds a solid border around the word bank */
    padding: 20px; /* Padding inside the word bank */
    border-radius: 8px; /* Rounded corners for the word bank */
}

.word-bank-title {
    text-align: center;
    color: #373737;
    margin-bottom: 20px; /* Space below the title inside the word bank */
    font-weight: bold;
}

.term-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures terms are spaced out evenly */
    list-style-type: none;
    padding: 0;
}

.term {
    flex: 1 1 48%; /* Adjusts width to fit two terms per line comfortably */
    border: 1px solid #373737;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
    text-align: center; /* Center the text within each term */
    margin-right: 2%; /* Right margin for spacing between terms */
}

.term:last-child {
    margin-right: 0; /* Removes right margin for the last term to align properly */
}

.term:hover {
    background-color: #a8a8a8;
}

.term-slot {
    border: 2px dashed #ccc;
    padding: 10px;
    min-height: 20px;
    display: inline-block; /* or block depending on layout */
    width: 200px; /* adjust as necessary */
    margin-right: 5px;
    background-color: #f9f9f9;
}

.term.dragging {
    opacity: 0.5; /* Make the term semi-transparent when dragging */
    z-index: 1000; /* Very high z-index to keep it on top */
    transform: scale(0.9); /* Optionally make it slightly smaller */
}
.term {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.term-slot {
    border: 2px dashed #ccc;
    padding: 10px;
    min-height: 20px;
    display: inline-block; /* or block depending on layout */
    width: 200px; /* adjust as necessary */
    background-color: #f9f9f9;
    vertical-align: top; /* Aligns better with inline content */
}

.results-list {
    max-height: 400px;  /* Limit the height of the container */
    overflow-y: auto;   /* Enable vertical scrolling */
    background-color: #f8f9fa; /* Light background color */
    border: 1px solid #ccc; /* Light grey border for the container */
    padding: 10px;
    border-radius: 8px; /* Rounded corners */
}

.progress {
    background-color: #a8a8a8;  /* Light grey background for the whole progress bar */
    border-radius: 10px;        /* Rounded corners for the progress bar */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);  /* Subtle inner shadow for depth */
    overflow: hidden;           /* Ensures nothing spills over the rounded corners */
}

.progress-bar {
    background-image: linear-gradient(45deg, #006417, #006417);  /* Green gradient effect */
    transition: width 0.6s ease;  /* Smooth transition for width changes */
    color: white;                  /* White text color for better readability */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);  /* Outer shadow for a lifted effect */
}

.darker{
    color:black;
}

.btn{
    color: white;
}

.content-wrap {
    min-height: calc(100vh - 250px);
}