/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100%; /* Ensures minimum height of the viewport */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Makes the main axis vertical */
    font-family: 'Roboto', sans-serif;
}

/*  using this as background*/
.general{
    background-color: #fff0db !important;
}

.footer-colors {
    color: #373737;
    background: #a8a8a8;
    font-family: 'Roboto', sans-serif; /* Roboto font for consistency */
}

.navbar {
    padding: 0; /* Removes any default padding */
    background: #373737;
    font-family: 'Roboto', sans-serif; /* Roboto font for consistency */
}

.navbar-brand {
    background-size: 10px 10px; /* Adjust size of the diagonal lines */
    padding: 8px 15px; /* Adjust padding to fill navbar vertically */
    display: flex; /* Ensures the brand fills the height */
    align-items: center; /* Centers the text vertically */
    height: 100%; /* Fill the height of the navbar */
    color: #a8a8a8 !important; /* Bootstrap's white color */
    margin-right: 1.5em; /* Give some space next to the brand */
    font-size: 1.5rem; /* Larger size for brand name */
    font-weight: bold; /* Bold font for emphasis */
    border-radius: 2px; /* subtle rounding of corners */
    padding-left: 1.5em;
    background: linear-gradient(135deg, #006417 0%, #373737 90%);
    padding-right: 1.5em;
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: white !important;
    border-radius: 5px; /* Rounded corners for a modern look */
}

.nav-link {
    font-size: 1.1rem; /* Larger size for brand name */
    color: #a8a8a8;
    font-weight: bold; /* Bold font for emphasis */
    margin-right: 1.5em; /* Space between nav items */
}
.nav-link:hover,
.nav-link:focus {
    color: white !important;
    border-radius: 5px; /* Rounded corners for a modern look */
}

.container {
    background-color: #fff0db; /* Light beige background for the content area */
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 5px;
    margin-top: 5px;
}
h1, h2 {
    color: #373737; /* Dark gray for better visibility and contrast */
    margin: 0px;
    font-size: 2rem; /* Slightly smaller than h1 */
}
h1 a, h2 a {
    color: inherit; /* Inherits the color from the parent h1 or h2 */
    text-decoration: none; /* Removes underline from links */
    font-weight: inherit; /* Inherits font weight from parent */
    display: inline; /* Keeps link inline */
}
h1 a:hover, h2 a:hover {
    color: inherit; /* Inherits the color from the parent h1 or h2 */
    text-decoration: underline; /* Adds underline on hover for better user interaction */
}
p {
    color: #a8a8a8; /* Lighter text color for paragraphs */
    line-height: 1.6; /* Improved line spacing for readability */
    margin-bottom: 0px;
}

.sub-container {
    background-color: #fff0db; /* Light beige background for the content area */
    padding: 20px;
    border-radius: 20px; /* Rounded corners for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 40px;
}

.thin-container {
    max-width: 600px;
    padding-bottom: 60px;  /* Adds padding inside the container */
}

.header-container {
    display: flex; /* Enables Flexbox */
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Centers the items horizontally */
    text-align: center; /* Ensures text within each header is centered */
}
.header-container h1,
.header-container h2 {
    margin: 0 6px; /* Adds horizontal spacing and removes default vertical margin */
    font-size: 2rem; /* Slightly smaller than h1 */
    white-space: nowrap; /* Prevents breaking into a new line */
}

.btn-primary {
    color: #a8a8a8;
    background-color: #006417; /* Custom green color to match the brand theme */
    border: none; /* No border for a cleaner look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #006417 !important; /* Custom green color to match the brand theme */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
.btn-primary:disabled {
    background-color: #a8a8a8; /* Dark grey color */
    color: white;
    cursor: not-allowed; /* Show a not-allowed cursor to indicate it's disabled */
}

.btn-back {
    color: #a8a8a8;
    background-color: #640000; /* Dark red background */
    border: none; /* No border for a cleaner look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}
.btn-back:hover,
.btn-back:focus {
    background-color: #640000 !important; /* Ensures background color stays consistent on hover and focus */
    color: white; /* Changes text color to white for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

.image-container {
    height: 70%; /* Set a fixed height or as needed */
    width: 100%; /* Ensures the container takes full width of the column */
    overflow: hidden; /* Hides parts of the image that overflow the container */
}

.img-fluid {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Covers the area, may crop the image */
}

.soccer-border {
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}

.h5 {
    color: #373737; /* Grey color, consider using a rich shade that stands out */
    letter-spacing: 0.01em; /* Adding some spacing between letters for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.accent-text {
    color: #006417; /* Green color, consider using a rich shade that stands out */
    font-weight: bold; /* Corrected property for bolding text */
    letter-spacing: 0.01em; /* Adding some spacing between letters for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.bold-text {
    font-weight: bold; /* Corrected property for bolding text */
    letter-spacing: 0.01em; /* Adding some spacing between letters for emphasis */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle text shadow for depth */
}

.nav-tabs .nav-link {
    background-color: #373737;
    color: #a8a8a8;
    border-color: #373737;
}

.nav-tabs .nav-link.active {
    background-color: #a8a8a8;
    color: #373737;
    border-color: #a8a8a8;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    color: white !important;
    border: 0px;
}

.tab-content {
    border: 2px solid #a8a8a8;
    padding: 10px;
    margin-top: 0px;
}

.correct-answer {
    color: #006417;
}

.incorrect-answer {
    color: red;
}

.feedback {
    font-size: 1.2rem;
    color: #006417;
    margin-top: 20px;
}

.feedback.incorrect {
    color: red;
}
