<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - Soccer Rules{% endblock %}

{% block content %}
<div class="container">
    <div class="header-container">
        <h1 class="accent-text">RULE 11</h1>
        <h2>- COMS4170's Finest Soccer Learning Platform!</h2>
    </div>
    <p class="mt-4 mb-3">If you’ve ever watched a game of soccer and found yourself confused by the frequent interruptions by referees, this is the place for you! Dive into the rules of soccer, understand the offsides, and never be puzzled again!</p>
    
    <div class="row">
        <div class="col-md-6">
            <h2 class="h5 mt-4 text-center"><a href="/learning/basics">Interactive Lessons:</a></h2>
            <div class="image-container">
                <a href="/learning/basics">
                    <img src="../static/data/home/learning.png" alt="Learn about Offsides" class="img-fluid">
                </a>
            </div>
            <div class="col text-center light-grey  mt-2">
                <a href="/learning/basics" class="btn btn-primary">Start Learning!</a>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="h5 mt-4 text-center"><a href="/quiz/intro">Test Your Knowledge:</a></h2>
            <div class="image-container">
                <a href="/quiz/intro">
                    <img src="../static/data/home/quiz.png" alt="Offsides Quiz" class="img-fluid">
                </a>
            </div>
            <div class="col text-center light-grey mt-2">
                <a href="/quiz/intro" class="btn btn-primary">Start Quiz!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
