<!-- quiz_intro.html -->
{% extends 'base.html' %}

{% block title %}Quiz Introduction - Soccer Rules{% endblock %}

{% block content %}
<div class="container thin-container mt-3 text-center">
    <h1 class="accent-text">Offside Rule Mastery Assessment</h1>
    <h5 class="mt-2 mb-4">Step off the sidelines and test your skills with the Offside Rule Mastery Quiz!</h5>
    <div class="image-container mb-4">
        <img src="/static/data/learning/offside_example.jpg" alt="Offside Rule Illustration" class="img-fluid">
    </div>
    <a href="{{ url_for('quiz', question_id=1) }}" class="btn btn-primary btn-lg" style="width: 100%;">Begin Quiz</a>
</div>
{% endblock %}